/* 로그인 */
div.login {width:600px; margin:0 auto; padding-top:200px;}
div.login h2 {display:block; width:198px; height:50px; color:#ccc; font-weight:100; font-size:43px; margin:30px auto;}
div.login h3 {display:block; width:84px; height:50px; color:#ffb300; font-weight:500; font-size:30px; margin:30px auto;}
div.login div.label_login input.emailbox, input.pwbox {display:block; margin:20px auto; width:440px; height:60px; padding:10px 15px;font-size:16px;}
div.login div.label_login a.login_submit {display:block; margin:0 auto; width:400px; height:50px; line-height:48px; padding:10px 20px; background:#ffb300; text-align:center; font-size:26px; color:#fff;}
div.login div.label_login p.login_plus {width:440px; margin:15px auto; padding:10px 0 10px 0;}
div.login div.label_login p.login_plus label{margin-right:50px;font-size:15px; position:relative; top:0px; margin-left:3px; color:#333;}
div.login div.label_login p.login_plus label:hover{color:#ffb300;}
div.login div.label_login p.login_plus a.srch_info {display:block; font-size:15px; height:20px; width:88px; position:relative; top:0px; float:right;}
div.login div.label_login a.srch_info:hover {color:#ffb300;}
div.login div.label_login a.new_acc {display:block; margin:0 auto; width:400px; height:50px; line-height:48px; padding:10px 20px; background:#fff; text-align:center; font-weight:300; font-size:26px; color:#ccc; border:1px solid #ccc; margin-top:20px;}
div.login div.label_login a.new_acc:hover {color:#ffb300; border:1px solid #ffb300;}
/* /로그인 */